In [31]:
import requests as req
import pandas as pd
from bs4 import BeautifulSoup
import csv
import re

In [32]:
def download_files():
    """Downloads all index files from EDGAR into the current directory"""
    
    for year in range(1993, 2019):
        for quarter in range(1, 5):
            url = 'https://www.sec.gov/Archives/edgar/full-index/' + str(year) + '/QTR' + str(quarter) + '/company.idx'
            r = req.get(url, allow_redirects=True)
            with open('Index-' + str(year) + '-' + str(quarter) + '.txt', "wb") as f:
                f.write(r.content)

In [33]:
import os

def get_reports(company_names, startyear, startquarter, endyear, endquarter):
    """
    Reads all index files and returns a generator of URLs of all 10-K/10-Qs of the given company.
    
    Parameters:
    company_names (str): list of names for the company exactly as listed in the index files
    startyear (int): the year to start looking for reports, inclusive
    startquarter (int): the quarter in startyear to start looking for reports, inclusive
    endyear (int): the year to stop looking for reports, inclusive
    endquarter(int): the quarter in endyear to stop looking for reports, inclusive
    
    Returns:
    Generator: each element is a tuple with the form (year of report, quarter of report, url of report)
    
    """
    
    files = filter(lambda x: x[-4:] == '.txt', os.listdir('.'))
    for file in files:
        year = int(file[6:10])
        if year < startyear or year > endyear:
            continue
        quarter = int(file[11])
        if (year == startyear and quarter < startquarter) or (year == endyear and quarter > endquarter):
            continue
        txt = open(file, 'r')
        for line in txt:
            if any(line.lower().startswith(name.lower()) for name in company_names) and '10-Q ' in line: 
                url_index = line.index('edgar/')
                url = line[url_index:].rstrip('\n').strip()
                yield (year, quarter, 'https://www.sec.gov/Archives/' + url)

In [38]:
def make_tables(text, limit, searchterms, year, quarter):
    """
    Parses HTML text and returns a generator of all tables as DataFrames
    
    Parameters:
    text (str): the text of the company report
    limit (int): the max number of tables to search through in the report
    searchterms (list of str): the terms to filter each table for. Only rows with one of the terms
        somewhere in the row label will be added to the amalgamated table. Only the first row for
        net income will be added, as "net income" is mentioned many times in different contexts.
    year (int): the year the document corresponds to
    quarter(int): the quarter the document corresponds to
    
    Returns:
    DataFrame: a table combining all rows in all examined tables in the report that contained one
        of the search terms in its row label
    
    """
    regex = re.compile('[^a-z A-Z]')
    soup = BeautifulSoup(text)
    tables = soup.find_all("table")
    row_list = []
    indices = []
    titles_added = [] # Represents the titles of rows that were added. Rows with duplicate titles will not be added.
    net_income_added = False
    table_num = 0
    for table in tables:
        added_rows = False
        for row in table.find_all('tr'):
            data_row = []
            columns = row.find_all('td')
            for column in columns:
                cell_text = column.get_text().replace('\n','')
                data_row.append(cell_text)             
            if len(data_row) > 0:
                
                row_label = regex.sub('', data_row[0].strip()).strip()
                if any(term in data_row[0] for term in searchterms) and row_label not in titles_added: # TODO: re-add .lower()?
                    titles_added.append(row_label)
                    #print(titles_added)
                    added_rows = True
                    #indices.append(re.sub(r'([^\s\w]|_)+', '', data_row[0].strip()))
                    indices.append(row_label)
                    row_list.append(data_row[1:])
        if added_rows:
            table_num += 1
        if table_num >= limit: #len(titles_added) >= len(searchterms) or table_num >= limit:
            break
    dataframe = reformat_table(pd.DataFrame(row_list, index=indices), year, quarter)
    return dataframe

In [35]:
def reformat_table(df, year, quarter):
    """
    Trims tables down to only the desired numerical information
    
    Parameters:
    df (DataFrame): the table to be trimmed
    year (int): the year the table corresponds to
    quarter(int): the quarter the table corresponds to
    
    Returns:
    DataFrame: the table after extraneous cells have been removed and year/quarter cells have been added
    
    """
    
#     # Remove all columns other than the first column of numbers
#     useless_columns = []
#     for col in range(len(df.columns)):
#         values_found = False
#         for row in range(len(df.index)):
#             #print('col', col, 'row', row, df.iloc[row, col])
#             if ',' in df.iloc[row, col]:
#                 values_found = True
#                 break
#         if not values_found:
#             useless_columns.append(col)
#         else:
#             useless_columns += list(range(col + 1, len(df.columns)))
#             break        
#     for col in useless_columns:
#         del df[col]
#     df.columns = ['millions of $, except when specified']

#     # Remove all rows that are blank
#     useless_rows = []
#     for row in range(len(df.index)):
#         #print(repr(df.index[row]))
#         if len(df.iloc[row, 0]) == 0:
#             useless_rows.append(row)
#     df.drop(index=[df.index[row] for row in useless_rows], inplace=True)

    data_column = []
    #display(df)
    for row in range(len(df.index)):
        #print(df.iloc[row])
        for col in range(len(df.columns)):
            cell_value = df.iloc[row, col]
            if any(char.isdigit() for char in cell_value):
                for punctuation in [',', '(', ')']:
                    cell_value = cell_value.replace(punctuation, '')
                data_column.append(float(cell_value))
                break

#     # Change all string representations of numbers to floating point values
#     for row in range(len(df.index)):
#         #print(df.iloc[row,0])
#         number = df.iloc[row, 0]
#         for char in [',', '(', ')']:
#             number = number.replace(char, '')
#         #df.iloc[row, 0] = float(number)
    data_column = [year, quarter] + data_column
    new_index = ['Year', 'Quarter'] + df.index.tolist()
    return pd.DataFrame(data=data_column, index=new_index, columns=[0])

In [36]:
def get_html_tables(company_names, startyear, startquarter=1, endyear=2018, endquarter=4, limit=3, searchterms=['revenue','gross profit','net income','earning','cash']):
    """
    Forms tables of the desired search terms of the given company in the given timeframe
    
    Parameters:
    See documentation of get_reports and make_tables.
    
    Returns:
    Generator: each element is a tuple with the form (year, quarter, amalgamated table)
    
    """
    
    reports = get_reports(company_names, startyear, startquarter, endyear, endquarter)
    for report in reports:
        year = report[0]
        quarter = report[1]
        text = req.get(report[2]).text
        if '<html' in text or '<HTML' in text:
            #print(report[0], 'Q', report[1])
            data = make_tables(text, limit, searchterms, year, quarter)
            yield (report[0], report[1], data)

In [40]:
searchterms_apple = ['Net sales', 'Cost of sales', 'Total operating expenses', 'Net income', 
                     'Diluted', 'Total current assets', 'Total assets', 'Total current liabilities', 
                     'Total liabilities', 'Total shareholders equity', 'Cash and cash equivalents, beginning', 
                     'Depreciation', 'Cash generated by operating activities', 'Cash and cash equivalents, end']
reports_apple = get_html_tables(['apple inc'], startyear=2008, startquarter=1, endyear=2018, endquarter=3, searchterms=searchterms_apple)

combined_df = pd.DataFrame()

for report in reports_apple:
    df = report[2].copy()
    year = report[0]
    quarter = report[1]
    for row in range(len(df.index)):
        if 'diluted' in df.index[row].lower():
            break
    newindex = df.index.tolist()
    newindex[row] = 'Diluted earnings/common share ($)'
    newindex[row + 1] = 'Diluted number of shares (thousands)'
    for row in range(len(df.index)):
        if 'depreciation' in df.index[row].lower():
            break
    newindex[row] = 'Depreciation and Amortization'
    df.index = newindex
    transposed_df = pd.DataFrame(data=[df.iloc[:, 0]], index=[str(year) + '-' + str(quarter)], columns=df.index)
    combined_df = combined_df.append(transposed_df)
    
display(combined_df)

,Year,Quarter,Net sales,Cost of sales,Total operating expenses,Net income,Diluted earnings/common share ($),Diluted number of shares (thousands),Total assets,Total current liabilities,Total liabilities,Total liabilities and shareholders equity,Cash and cash equivalents beginning of the period,Depreciation and Amortization,Cash generated by operating activities,Cash and cash equivalents end of the period
2008-1,2008.0,1.0,9608.0,6276.0,1206.0,1581.0,1.76,26189.0,30039.0,10535.0,13235.0,30039.0,9352.0,106.0,2787.0,9162.0
2008-2,2008.0,2.0,7512.0,5038.0,1159.0,1045.0,1.16,26736.0,30471.0,9634.0,12418.0,30471.0,9352.0,222.0,3980.0,9070.0
2008-3,2008.0,3.0,7464.0,4864.0,1208.0,1072.0,1.19,27998.0,31709.0,9218.0,12087.0,31709.0,9352.0,339.0,5301.0,9373.0
2009-1,2009.0,1.0,10167.0,6635.0,1406.0,1605.0,1.78,35163.0,42787.0,14757.0,19878.0,42787.0,11875.0,158.0,3938.0,7236.0
2009-2,2009.0,2.0,8163.0,5192.0,1304.0,1205.0,1.33,33853.0,43237.0,13751.0,18926.0,43237.0,11875.0,330.0,4779.0,4466.0
2009-3,2009.0,3.0,8337.0,5314.0,1351.0,1229.0,1.35,35170.0,48140.0,16661.0,22252.0,48140.0,11875.0,506.0,7049.0,5605.0
2010-1,2010.0,1.0,15683.0,9272.0,1686.0,3378.0,3.67,33332.0,53926.0,13097.0,18158.0,53926.0,5263.0,209.0,5781.0,7609.0
2010-2,2010.0,2.0,13499.0,7874.0,1646.0,3074.0,3.33,32336.0,57057.0,12229.0,17709.0,57057.0,5263.0,425.0,8111.0,10018.0
2010-3,2010.0,3.0,15700.0,9564.0,1902.0,3253.0,3.51,36033.0,64725.0,15612.0,21614.0,64725.0,5263.0,698.0,12912.0,9705.0
2011-1,2011.0,1.0,26741.0,16443.0,2471.0,6004.0,6.43,43927.0,86742.0,23795.0,32076.0,86742.0,11261.0,356.0,9773.0,10734.0
2011-2,2011.0,2.0,24667.0,14449.0,2344.0,5987.0,6.40,46997.0,94904.0,24327.0,33427.0,94904.0,11261.0,790.0,15992.0,15978.0
2011-3,2011.0,3.0,28571.0,16649.0,2543.0,7308.0,7.79,46898.0,106758.0,26859.0,37415.0,106758.0,11261.0,1271.0,27100.0,12091.0
2012-1,2012.0,1.0,46333.0,25630.0,3363.0,13064.0,13.87,54771.0,138681.0,34607.0,48627.0,138681.0,9815.0,721.0,17554.0,10310.0
2012-2,2012.0,2.0,39186.0,20622.0,3180.0,11622.0,12.30,50712.0,150934.0,32036.0,48436.0,150934.0,9815.0,1461.0,31531.0,10121.0
2012-3,2012.0,3.0,35023.0,20029.0,3421.0,8824.0,9.32,51943.0,162896.0,33060.0,51150.0,162896.0,9815.0,2296.0,41720.0,7945.0
2013-1,2013.0,1.0,54512.0,33452.0,3850.0,13078.0,13.81,72348.0,196088.0,46879.0,68742.0,196088.0,10746.0,1588.0,23426.0,16154.0
2013-2,2013.0,2.0,43603.0,27254.0,3791.0,9547.0,10.09,63337.0,194743.0,35508.0,59253.0,194743.0,10746.0,3280.0,35930.0,12053.0
2013-3,2013.0,3.0,35323.0,22299.0,3823.0,6900.0,7.47,68219.0,199856.0,36319.0,76502.0,199856.0,10746.0,4974.0,43758.0,11248.0
2014-1,2014.0,1.0,57594.0,35748.0,4383.0,13072.0,14.50,80347.0,225184.0,53769.0,95500.0,225184.0,14259.0,2144.0,22670.0,14077.0
2014-2,2014.0,2.0,45646.0,27699.0,4354.0,10223.0,11.62,70541.0,205989.0,43208.0,85810.0,205989.0,14259.0,4031.0,36208.0,18949.0
2014-3,2014.0,3.0,37432.0,22697.0,4453.0,7748.0,1.28,67949.0,222520.0,46205.0,101580.0,222520.0,14259.0,5977.0,46463.0,12977.0
2015-1,2015.0,1.0,74599.0,44858.0,5495.0,18024.0,3.06,83403.0,261894.0,73611.0,138566.0,261894.0,13844.0,2575.0,33722.0,19478.0
2015-2,2015.0,2.0,58010.0,34354.0,5378.0,13569.0,2.33,67891.0,261194.0,58729.0,132188.0,261194.0,13844.0,5054.0,52803.0,14489.0
2015-3,2015.0,3.0,49605.0,29924.0,5598.0,10677.0,1.85,70953.0,273151.0,65285.0,147474.0,273151.0,13844.0,8138.0,67791.0,15319.0
2016-1,2016.0,1.0,75872.0,45449.0,6252.0,18361.0,3.28,76219.0,293284.0,76092.0,165017.0,293284.0,21120.0,2954.0,27463.0,16689.0
2016-2,2016.0,2.0,50557.0,30636.0,5934.0,10516.0,1.90,87592.0,305277.0,68265.0,174820.0,305277.0,21120.0,5431.0,39064.0,21514.0
2016-3,2016.0,3.0,42358.0,26252.0,6001.0,7796.0,1.42,93761.0,305602.0,71486.0,179061.0,305602.0,21120.0,7957.0,49698.0,18237.0
2017-1,2017.0,1.0,78351.0,48175.0,6817.0,17891.0,3.36,103332.0,331141.0,84130.0,198751.0,331141.0,20484.0,2987.0,27056.0,16371.0
2017-2,2017.0,2.0,52896.0,32305.0,6494.0,11029.0,2.10,101990.0,334532.0,73342.0,200450.0,334532.0,20484.0,5319.0,39579.0,15157.0
2017-3,2017.0,3.0,45408.0,27920.0,6720.0,8717.0,1.67,112875.0,345173.0,81302.0,212748.0,345173.0,20484.0,7673.0,47942.0,18571.0
2018-1,2018.0,1.0,88293.0,54381.0,7638.0,20065.0,3.89,143810.0,406794.0,115788.0,266595.0,406794.0,20289.0,2745.0,28293.0,27491.0
2018-2,2018.0,2.0,61137.0,37715.0,7528.0,13822.0,2.73,130053.0,367502.0,89320.0,240624.0,367502.0,20289.0,5484.0,43423.0,45059.0
2018-3,2018.0,3.0,53265.0,32844.0,7809.0,11519.0,2.34,115761.0,349197.0,88548.0,234248.0,349197.0,20289.0,8149.0,57911.0,31971.0