In [17]:
import pandas as pd
import datetime as dt
from alpha_vantage.timeseries import TimeSeries

In [98]:
def get_stock_data(symbol, startyear, startmonth, endyear=2018, endmonth=12):
    
    """
    Obtains the stock data of the company identified by its stock symbol within the the given timeframe.
    Uses the AlphaVantage API: https://www.alphavantage.co/
    
    """
    
    key = 'BWT9OO9T59N87MUI'
    ts = TimeSeries(key)
    adjusted_results, meta = ts.get_daily_adjusted(symbol=symbol, outputsize='full')
    
    data_rows = []
    
    for year in range(startyear, endyear + 1):
        if year == startyear and startmonth != 1:
            for month in range(startmonth, 13):
                if year == endyear and month == endmonth + 1:
                    break
                for day in range(1, 32):
                    try:
                        dt.datetime(year, month, day)
                        date = f'{year}-{month:02}-{day:02}'
                        data_rows.append([year, month, day, adjusted_results[date]['5. adjusted close']])
                    except Exception as e:
                        continue
        else: 
            for month in range(1, 13):
                if year == endyear and month == endmonth + 1:
                    break
                for day in range(1, 32):
                    try:
                        dt.datetime(year, month, day)
                        date = f'{year}-{month:02}-{day:02}'
                        data_rows.append([year, month, day, adjusted_results[date]['5. adjusted close']])
                    except Exception as e:
                        continue
                        
    return pd.DataFrame(data_rows, columns=['Year', 'Month', 'Day', 'Adjusted close price'])

In [101]:
# Example: Getting the adjusted closing price of Apple stock from the start to the end of 2018
df = get_stock_data('AAPL', 2018, 1, 2018, 12)
display(df)

     Year  Month  Day Adjusted close price
0    2018      1    2             167.7019
1    2018      1    3             167.6727
2    2018      1    4             168.4515
3    2018      1    5             170.3694
4    2018      1    8             169.7366
5    2018      1    9             169.7171
6    2018      1   10             169.6782
7    2018      1   11             170.6420
8    2018      1   12             172.4041
9    2018      1   16             171.5279
10   2018      1   17             174.3609
11   2018      1   18             174.5166
12   2018      1   19             173.7378
13   2018      1   22             172.3165
14   2018      1   23             172.3554
15   2018      1   24             169.6100
16   2018      1   25             166.5823
17   2018      1   26             166.9717
18   2018      1   29             163.5157
19   2018      1   30             162.5519
20   2018      1   31             162.9997
21   2018      2    1             163.3404
22   2018      2    2             156.2531
23   2018      2    5             152.3492
24   2018      2    6             158.7161
25   2018      2    7             155.3184
26   2018      2    8             151.0446
27   2018      2    9             152.8921
28   2018      2   12             159.0504
29   2018      2   13             160.6438
..    ...    ...  ...                  ...
221  2018     11   15             189.1428
222  2018     11   16             191.2377
223  2018     11   19             183.6585
224  2018     11   20             174.8837
225  2018     11   21             174.6861
226  2018     11   23             170.2493
227  2018     11   26             172.5517
228  2018     11   27             172.1762
229  2018     11   28             178.7968
230  2018     11   29             177.4233
231  2018     11   30             176.4648
232  2018     12    3             182.6309
233  2018     12    4             174.5972
234  2018     12    6             172.6505
235  2018     12    7             166.4943
236  2018     12   10             167.5911
237  2018     12   11             166.6326
238  2018     12   12             167.0970
239  2018     12   13             168.9251
240  2018     12   14             163.5199
241  2018     12   17             161.9982
242  2018     12   18             164.1029
243  2018     12   19             158.9843
244  2018     12   20             154.9724
245  2018     12   21             148.9446
246  2018     12   24             145.0908
247  2018     12   26             155.3083
248  2018     12   27             154.3004
249  2018     12   28             154.3795
250  2018     12   31             155.8716

[251 rows x 4 columns]