In [1]:
import requests as req

In [2]:
# Download all index files from EDGAR
def download_files():
    for year in range(1993, 2019):
        for quarter in range(1, 5):
            url = 'https://www.sec.gov/Archives/edgar/full-index/' + str(year) + '/QTR' + str(quarter) + '/company.idx'
            r = req.get(url, allow_redirects=True)
            with open('Index-' + str(year) + '-' + str(quarter) + '.txt', "wb") as f:
                f.write(r.content)

In [3]:
import os

# Reads all index files and returns a dictionary of URLs of all 10-K/10-Qs of the given company
def get_reports(company, startyear, startquarter):
    files = filter(lambda x: x[-4:] == '.txt', os.listdir('.'))
    for file in files:
        year = int(file[6:10])
        if year < startyear:
            continue
        quarter = int(file[11])
        if year == startyear and quarter < startquarter:
            continue
        txt = open(file, 'r')
        for line in txt:
            if line.startswith(company) and ('10-K' in line or '10-Q' in line):
                url_index = line.index('edgar/')
                url = line[url_index:].rstrip('\n').strip()
                yield (year, quarter, 'https://www.sec.gov/Archives/' + url)

In [4]:
from bs4 import BeautifulSoup
import csv
import pandas as pd

# Parses HTML text and returns a generator of all tables as DataFrames
def make_tables(text):
    soup = BeautifulSoup(text)
    tables = soup.find_all("table")
    table_num = 1
    for table in tables:
        row_list = []
        indices = []
        for row in table.find_all('tr'):
            data_row = []
            columns = row.find_all('td')
            for column in columns:
                cell_text = column.get_text().replace('\n','')
                data_row.append(cell_text)
            row_list.append(data_row[1:])
            indices.append(data_row[0])
        if len(row_list) > 0:
            data = pd.DataFrame(row_list, index=indices)
            yield data
            table_num += 1
        if table_num > 12:
            break

In [49]:
# Given a company name, returns list of table generators for all 10-K/10-Qs that are HTML files
def get_html_tables(company, startyear, startquarter):
    urls = get_reports(company, startyear, startquarter)
    for url in urls:
        text = req.get(url[2]).text
        #if '<html' in text or '<HTML' in text:
        data = make_tables(text)
        yield (url[0], url[1], make_tables(text))

items = get_html_tables("APPLE INC", 2018, 1) # Put the company name as listed in the index file
for item in items:
    print('Year:', item[0], 'Quarter', item[1])
    for t in item[2]:
        display(t)

Year: 2018 Quarter 1

Empty DataFrame
Columns: []
Index: [, ,  ]

Empty DataFrame
Columns: []
Index: [, ,  ]

Empty DataFrame
Columns: []
Index: [, ,  ]

Empty DataFrame
Columns: []
Index: [, ,  ]

Empty DataFrame
Columns: []
Index: [, ,  ]

,0,1
,None,None
,,
California,,94-2404110
(State or other jurisdictionof incorporation or organization),,(I.R.S. Employer Identification No.)
"1 Infinite LoopCupertino, California",,95014
(Address of principal executive offices),,(Zip Code)

Empty DataFrame
Columns: []
Index: [, ,  ]

,0,1,2,3,4,5
,None,None,None,None,None,None
,,,,,,
Large accelerated filer,,☒,,Accelerated filer,,☐
Non-accelerated filer,,☐ (Do not check if a smaller reporting company),,Smaller reporting company,,☐
,,,,Emerging growth company,,☐

Empty DataFrame
Columns: []
Index: [, ,  ]

                                                          0     1
                                                       None  None

                                                       Page  None
Part I                                                 None  None
Item 1.                                Financial Statements     1
Item 2.   Management’s Discussion and Analysis of Financ...    21
Item 3.   Quantitative and Qualitative Disclosures About...    32
Item 4.                             Controls and Procedures    32
Part II                                                None  None
Item 1.                                   Legal Proceedings    33
Item 1A.                                       Risk Factors    33
Item 2.   Unregistered Sales of Equity Securities and Us...    43
Item 3.                     Defaults Upon Senior Securities    43
Item 4.                             Mine Safety Disclosures    43
Item 5.                                   Other Information    43
Item 6.                                            Exhibits    44

,0,1,2,3,4,5,6
,None,None,None,None,None,None,None
,,,,,,,
,Three Months Ended,None,None,None,None,None,None
,"December 30, 2017",,"December 31, 2016",None,None,None,None
Net sales,$,"88,293",,,$,"78,351",
Cost of sales,"54,381",,,"48,175",,None,None
Gross margin,"33,912",,,"30,176",,None,None
,,,,None,None,None,None
Operating expenses:,,,,None,None,None,None
Research and development,"3,407",,,"2,871",,None,None
"Selling, general and administrative","4,231",,,"3,946",,None,None
Total operating expenses,"7,638",,,"6,817",,None,None
,,,,None,None,None,None
Operating income,"26,274",,,"23,359",,None,None
"Other income/(expense), net",756,,,821,,None,None
Income before provision for income taxes,"27,030",,,"24,180",,None,None
Provision for income taxes,"6,965",,,"6,289",,None,None
Net income,$,"20,065",,,$,"17,891",
,,,,None,None,None,None
Earnings per share:,,,,None,None,None,None
Basic,$,3.92,,,$,3.38,
Diluted,$,3.89,,,$,3.36,
,,,,None,None,None,None
Shares used in computing earnings per share:,,,,None,None,None,None
Basic,"5,112,877",,,"5,298,661",,None,None
Diluted,"5,157,787",,,"5,327,995",,None,None
,,,,None,None,None,None
Cash dividends declared per share,$,0.63,,,$,0.57,

,0,1,2,3,4,5,6
,None,None,None,None,None,None,None
,,,,,,,
,Three Months Ended,None,None,None,None,None,None
,"December 30, 2017",,"December 31, 2016",None,None,None,None
Net income,$,"20,065",,,$,"17,891",
Other comprehensive income/(loss):,,,,None,None,None,None
"Change in foreign currency translation, net of tax effects of $(1) and $76, respectively",40,,,(375,),None,None
,,,,None,None,None,None
Change in unrealized gains/losses on derivative instruments:,,,,None,None,None,None
"Change in fair value of derivatives, net of tax benefit/(expense) of $(66) and $(228), respectively",88,,,"1,468",,None,None
"Adjustment for net (gains)/losses realized and included in net income, net of tax expense/(benefit) of $(21) and $(211), respectively",102,,,306,,None,None
"Total change in unrealized gains/losses on derivative instruments, net of tax",190,,,"1,774",,None,None
,,,,None,None,None,None
Change in unrealized gains/losses on marketable securities:,,,,None,None,None,None
"Change in fair value of marketable securities, net of tax benefit/(expense) of $464 and $989, respectively",(846,),,"(1,808",),None,None
"Adjustment for net (gains)/losses realized and included in net income, net of tax expense/(benefit) of $41 and $(11), respectively",(75,),,20,,None,None
"Total change in unrealized gains/losses on marketable securities, net of tax",(921,),,"(1,788",),None,None
,,,,None,None,None,None
Total other comprehensive income/(loss),(691,),,(389,),None,None
Total comprehensive income,$,"19,374",,,$,"17,502",

Year: 2018 Quarter 2

Empty DataFrame
Columns: []
Index: [, ,  ]

Empty DataFrame
Columns: []
Index: [, ,  ]

Empty DataFrame
Columns: []
Index: [, ,  ]

Empty DataFrame
Columns: []
Index: [, ,  ]

Empty DataFrame
Columns: []
Index: [, ,  ]

,0,1
,None,None
,,
California,,94-2404110
(State or other jurisdictionof incorporation or organization),,(I.R.S. Employer Identification No.)
,,
"One Apple Park WayCupertino, California",,95014
(Address of principal executive offices),,(Zip Code)

Empty DataFrame
Columns: []
Index: [, ,  ]

,0,1,2,3,4,5
,None,None,None,None,None,None
,,,,,,
Large accelerated filer,,☒,,Accelerated filer,,☐
Non-accelerated filer,,☐ (Do not check if a smaller reporting company),,Smaller reporting company,,☐
,,,,Emerging growth company,,☐

Empty DataFrame
Columns: []
Index: [, ,  ]

                                                          0     1
                                                       None  None

                                                       Page  None
Part I                                                 None  None
Item 1.                                Financial Statements     1
Item 2.   Management’s Discussion and Analysis of Financ...    21
Item 3.   Quantitative and Qualitative Disclosures About...    33
Item 4.                             Controls and Procedures    34
Part II                                                None  None
Item 1.                                   Legal Proceedings    35
Item 1A.                                       Risk Factors    35
Item 2.   Unregistered Sales of Equity Securities and Us...    45
Item 3.                     Defaults Upon Senior Securities    45
Item 4.                             Mine Safety Disclosures    45
Item 5.                                   Other Information    45
Item 6.                                            Exhibits    46

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
,,,,,,,,,,,,,,,
,Three Months Ended,,Six Months Ended,None,None,None,None,None,None,None,None,None,None,None,None
,"March 31, 2018",,"April 1, 2017",,"March 31, 2018",,"April 1, 2017",None,None,None,None,None,None,None,None
Net sales,$,"61,137",,,$,"52,896",,,$,"149,430",,,$,"131,247",
Cost of sales,"37,715",,,"32,305",,,"92,096",,,"80,480",,None,None,None,None
Gross margin,"23,422",,,"20,591",,,"57,334",,,"50,767",,None,None,None,None
,,,,,,,,None,None,None,None,None,None,None,None
Operating expenses:,,,,,,,,None,None,None,None,None,None,None,None
Research and development,"3,378",,,"2,776",,,"6,785",,,"5,647",,None,None,None,None
"Selling, general and administrative","4,150",,,"3,718",,,"8,381",,,"7,664",,None,None,None,None
Total operating expenses,"7,528",,,"6,494",,,"15,166",,,"13,311",,None,None,None,None
,,,,,,,,None,None,None,None,None,None,None,None
Operating income,"15,894",,,"14,097",,,"42,168",,,"37,456",,None,None,None,None
"Other income/(expense), net",274,,,587,,,"1,030",,,"1,408",,None,None,None,None
Income before provision for income taxes,"16,168",,,"14,684",,,"43,198",,,"38,864",,None,None,None,None
Provision for income taxes,"2,346",,,"3,655",,,"9,311",,,"9,944",,None,None,None,None
Net income,$,"13,822",,,$,"11,029",,,$,"33,887",,,$,"28,920",
,,,,,,,,None,None,None,None,None,None,None,None
Earnings per share:,,,,,,,,None,None,None,None,None,None,None,None
Basic,$,2.75,,,$,2.11,,,$,6.69,,,$,5.50,
Diluted,$,2.73,,,$,2.10,,,$,6.63,,,$,5.46,
,,,,,,,,None,None,None,None,None,None,None,None
Shares used in computing earnings per share:,,,,,,,,None,None,None,None,None,None,None,None
Basic,"5,024,877",,,"5,225,791",,,"5,068,877",,,"5,262,226",,None,None,None,None
Diluted,"5,068,493",,,"5,261,688",,,"5,113,140",,,"5,294,841",,None,None,None,None
,,,,,,,,None,None,None,None,None,None,None,None
Cash dividends declared per share,$,0.63,,,$,0.57,,,$,1.26,,,$,1.14,

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
,,,,,,,,,,,,,,,
,Three Months Ended,,Six Months Ended,None,None,None,None,None,None,None,None,None,None,None,None
,"March 31, 2018",,"April 1, 2017",,"March 31, 2018",,"April 1, 2017",None,None,None,None,None,None,None,None
Net income,$,"13,822",,,$,"11,029",,,$,"33,887",,,$,"28,920",
Other comprehensive income/(loss):,,,,,,,,None,None,None,None,None,None,None,None
"Change in foreign currency translation, net of tax effects of $8, $(44), $7 and $32, respectively",263,,,214,,,303,,,(161,),None,None,None,None
,,,,,,,,None,None,None,None,None,None,None,None
Change in unrealized gains/losses on derivative instruments:,,,,,,,,None,None,None,None,None,None,None,None
"Change in fair value of derivatives, net of tax benefit/(expense) of $(64), $(25), $(130) and $(253), respectively",(27,),,(300,),,61,,,"1,168",,None,None,None,None
"Adjustment for net (gains)/losses realized and included in net income, net of tax expense/(benefit) of $77, $311, $56 and $100, respectively",(207,),,"(1,032",),,(105,),,(726,),None,None,None,None
"Total change in unrealized gains/losses on derivative instruments, net of tax",(234,),,"(1,332",),,(44,),,442,,None,None,None,None
,,,,,,,,None,None,None,None,None,None,None,None
Change in unrealized gains/losses on marketable securities:,,,,,,,,None,None,None,None,None,None,None,None
"Change in fair value of marketable securities, net of tax benefit/(expense) of $541, $(256), $1,005 and $733, respectively","(2,003",),,464,,,"(2,849",),,"(1,344",),None,None,None,None
"Adjustment for net (gains)/losses realized and included in net income, net of tax expense/(benefit) of $(7), $7, $34 and $(4), respectively",29,,,(13,),,(46,),,7,,None,None,None,None
"Total change in unrealized gains/losses on marketable securities, net of tax","(1,974",),,451,,,"(2,895",),,"(1,337",),None,None,None,None
,,,,,,,,None,None,None,None,None,None,None,None
Total other comprehensive income/(loss),"(1,945",),,(667,),,"(2,636",),,"(1,056",),None,None,None,None
Total comprehensive income,$,"11,877",,,$,"10,362",,,$,"31,251",,,$,"27,864",

Year: 2018 Quarter 3

Empty DataFrame
Columns: []
Index: [, ,  ]

Empty DataFrame
Columns: []
Index: [, ,  ]

Empty DataFrame
Columns: []
Index: [, ,  ]

Empty DataFrame
Columns: []
Index: [, ,  ]

Empty DataFrame
Columns: []
Index: [, ,  ]

,0,1
,None,None
,,
California,,94-2404110
(State or other jurisdictionof incorporation or organization),,(I.R.S. Employer Identification No.)
,,
"One Apple Park WayCupertino, California",,95014
(Address of principal executive offices),,(Zip Code)

Empty DataFrame
Columns: []
Index: [, ,  ]

,0,1,2,3,4,5
,None,None,None,None,None,None
,,,,,,
Large accelerated filer,,☒,,Accelerated filer,,☐
Non-accelerated filer,,☐ (Do not check if a smaller reporting company),,Smaller reporting company,,☐
,,,,Emerging growth company,,☐

Empty DataFrame
Columns: []
Index: [, ,  ]

                                                          0     1
                                                       None  None

                                                       Page  None
Part I                                                 None  None
Item 1.                                Financial Statements     1
Item 2.   Management’s Discussion and Analysis of Financ...    22
Item 3.   Quantitative and Qualitative Disclosures About...    35
Item 4.                             Controls and Procedures    35
Part II                                                None  None
Item 1.                                   Legal Proceedings    36
Item 1A.                                       Risk Factors    36
Item 2.   Unregistered Sales of Equity Securities and Us...    46
Item 3.                     Defaults Upon Senior Securities    46
Item 4.                             Mine Safety Disclosures    46
Item 5.                                   Other Information    46
Item 6.                                            Exhibits    47

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
,,,,,,,,,,,,,,,
,Three Months Ended,,Nine Months Ended,None,None,None,None,None,None,None,None,None,None,None,None
,"June 30, 2018",,"July 1, 2017",,"June 30, 2018",,"July 1, 2017",None,None,None,None,None,None,None,None
Net sales,$,"53,265",,,$,"45,408",,,$,"202,695",,,$,"176,655",
Cost of sales,"32,844",,,"27,920",,,"124,940",,,"108,400",,None,None,None,None
Gross margin,"20,421",,,"17,488",,,"77,755",,,"68,255",,None,None,None,None
,,,,,,,,None,None,None,None,None,None,None,None
Operating expenses:,,,,,,,,None,None,None,None,None,None,None,None
Research and development,"3,701",,,"2,937",,,"10,486",,,"8,584",,None,None,None,None
"Selling, general and administrative","4,108",,,"3,783",,,"12,489",,,"11,447",,None,None,None,None
Total operating expenses,"7,809",,,"6,720",,,"22,975",,,"20,031",,None,None,None,None
,,,,,,,,None,None,None,None,None,None,None,None
Operating income,"12,612",,,"10,768",,,"54,780",,,"48,224",,None,None,None,None
"Other income/(expense), net",672,,,540,,,"1,702",,,"1,948",,None,None,None,None
Income before provision for income taxes,"13,284",,,"11,308",,,"56,482",,,"50,172",,None,None,None,None
Provision for income taxes,"1,765",,,"2,591",,,"11,076",,,"12,535",,None,None,None,None
Net income,$,"11,519",,,$,"8,717",,,$,"45,406",,,$,"37,637",
,,,,,,,,None,None,None,None,None,None,None,None
Earnings per share:,,,,,,,,None,None,None,None,None,None,None,None
Basic,$,2.36,,,$,1.68,,,$,9.07,,,$,7.18,
Diluted,$,2.34,,,$,1.67,,,$,8.99,,,$,7.14,
,,,,,,,,None,None,None,None,None,None,None,None
Shares used in computing earnings per share:,,,,,,,,None,None,None,None,None,None,None,None
Basic,"4,882,167",,,"5,195,088",,,"5,006,640",,,"5,239,847",,None,None,None,None
Diluted,"4,926,609",,,"5,233,499",,,"5,050,963",,,"5,274,394",,None,None,None,None
,,,,,,,,None,None,None,None,None,None,None,None
Cash dividends declared per share,$,0.73,,,$,0.63,,,$,1.99,,,$,1.77,

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
,,,,,,,,,,,,,,,
,Three Months Ended,,Nine Months Ended,None,None,None,None,None,None,None,None,None,None,None,None
,"June 30, 2018",,"July 1, 2017",,"June 30, 2018",,"July 1, 2017",None,None,None,None,None,None,None,None
Net income,$,"11,519",,,$,"8,717",,,$,"45,406",,,$,"37,637",
Other comprehensive income/(loss):,,,,,,,,None,None,None,None,None,None,None,None
"Change in foreign currency translation, net of tax effects of $(3), $(35), $4 and $(3), respectively",(590,),,120,,,(287,),,(41,),None,None,None,None
,,,,,,,,None,None,None,None,None,None,None,None
Change in unrealized gains/losses on derivative instruments:,,,,,,,,None,None,None,None,None,None,None,None
"Change in fair value of derivatives, net of tax benefit/(expense) of $70, $(16), $(60) and $(269), respectively",109,,,(166,),,170,,,"1,002",,None,None,None,None
"Adjustment for net (gains)/losses realized and included in net income, net of tax expense/(benefit) of $(254), $176, $(198) and $276, respectively",978,,,(409,),,873,,,"(1,135",),None,None,None,None
"Total change in unrealized gains/losses on derivative instruments, net of tax","1,087",,,(575,),,"1,043",,,(133,),None,None,None,None
,,,,,,,,None,None,None,None,None,None,None,None
Change in unrealized gains/losses on marketable securities:,,,,,,,,None,None,None,None,None,None,None,None
"Change in fair value of marketable securities, net of tax benefit/(expense) of $154, $(197), $1,159 and $536, respectively",(568,),,364,,,"(3,417",),,(980,),None,None,None,None
"Adjustment for net (gains)/losses realized and included in net income, net of tax expense/(benefit) of $(7), $16, $27 and $12, respectively",24,,,(32,),,(22,),,(25,),None,None,None,None
"Total change in unrealized gains/losses on marketable securities, net of tax",(544,),,332,,,"(3,439",),,"(1,005",),None,None,None,None
,,,,,,,,None,None,None,None,None,None,None,None
Total other comprehensive income/(loss),(47,),,(123,),,"(2,683",),,"(1,179",),None,None,None,None
Total comprehensive income,$,"11,472",,,$,"8,594",,,$,"42,723",,,$,"36,458",

Year: 2018 Quarter 4

Empty DataFrame
Columns: []
Index: [, ,  ]

Empty DataFrame
Columns: []
Index: [, ,  ]

Empty DataFrame
Columns: []
Index: [, ,  ]

Empty DataFrame
Columns: []
Index: [, ,  ]

Empty DataFrame
Columns: []
Index: [, ,  ]

,0,1
,None,None
,,
California,,94-2404110
(State or other jurisdictionof incorporation or organization),,(I.R.S. Employer Identification No.)
,,
"One Apple Park WayCupertino, California",,95014
(Address of principal executive offices),,(Zip Code)

Empty DataFrame
Columns: []
Index: [, ,  ]

,0,1
,None,None
,,
"Common Stock, $0.00001 par value per share1.000% Notes due 20221.375% Notes due 20240.875% Notes due 20251.625% Notes due 20262.000% Notes due 20271.375% Notes due 20293.050% Notes due 20293.600% Notes due 2042",,The Nasdaq Stock Market LLCNew York Stock Exch...
(Title of each class),,(Name of each exchange on which registered)

Empty DataFrame
Columns: []
Index: [, ,  ]

,0,1,2,3,4,5
,None,None,None,None,None,None
,,,,,,
Large accelerated filer,,☒,,Accelerated filer,,☐
Non-accelerated filer,,☐,,Smaller reporting company,,☐
,,,,Emerging growth company,,☐

Empty DataFrame
Columns: []
Index: [, ,  ]

                                                          0     1
                                                       None  None

                                                       Page  None
Part I                                                 None  None
Item 1.                                            Business     1
Item 1A.                                       Risk Factors     8
Item 1B.                          Unresolved Staff Comments    17
Item 2.                                          Properties    18
Item 3.                                   Legal Proceedings    18
Item 4.                             Mine Safety Disclosures    18
Part II                                                None  None
Item 5.   Market for Registrant’s Common Equity, Related...    19
Item 6.                             Selected Financial Data    21
Item 7.   Management’s Discussion and Analysis of Financ...    22
Item 7A.  Quantitative and Qualitative Disclosures About...    35
Item 8.         Financial Statements and Supplementary Data    37
Item 9.   Changes in and Disagreements with Accountants ...    67
Item 9A.                            Controls and Procedures    67
Item 9B.                                  Other Information    67
Part III                                               None  None
Item 10.  Directors, Executive Officers and Corporate Go...    68
Item 11.                             Executive Compensation    68
Item 12.  Security Ownership of Certain Beneficial Owner...    68
Item 13.  Certain Relationships and Related Transactions...    68
Item 14.             Principal Accounting Fees and Services    68
Part IV                                                None  None
Item 15.            Exhibits, Financial Statement Schedules    69
Item 16.                                  Form 10-K Summary    71